kind: Deployment
apiVersion: apps/v1
metadata:
  labels:
    k8s-app: email-emailhandler
  name: email-emailhandler
  namespace: email
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      k8s-app: email-emailhandler
  template:
    metadata:
      labels:
        k8s-app: email-emailhandler
    spec:
      terminationGracePeriodSeconds: 2
      containers:
        - name: simplelogin
          image: simplelogin/app:2.0.0
          resources:
            limits:
              memory: "300Mi"
              cpu: "100m"
          command: ["python"]
          args: ["email_handler.py"]
          ports:
            - containerPort: 20381
              protocol: TCP
          env:
            - name: URL
              value: "http://mail.stoicatedy.ovh"
            - name: SUPPORT_EMAIL
              value: "support@stoicatedy.ovh"
            - name: FLASK_ENV
              value: "production"
            - name: SUPPORT_NAME
              value: "Stoica Tedy"
            - name: SUPPORT_EMAIL
              value: "admin@stoicatedy.ovh"
            - name: ADMIN_EMAIL
              value: "admin@stoicatedy.ovh"
            - name: POSTFIX_SERVER
              value: "smtp.rdslink.ro"
            - name: EMAIL_DOMAIN
              value: "stoicatedy.ovh"
            - name: EMAIL_SERVERS_WITH_PRIORITY
              value: "[(10, \"stoicatedy.ovh.\")]"
            - name: DISABLE_ALIAS_SUFFIX
              value: "1"
            - name: DKIM_PRIVATE_KEY_PATH
              value: "/secret/private.key"
            - name: DKIM_PUBLIC_KEY_PATH
              value: "/secret/public.key"
            - name: DB_URI
              value: "postgresql://myuser:mypassword@email-db:5432/simplelogin"
            - name: FLASK_SECRET
              valueFrom:
                secretKeyRef:
                  key: flask-secret
                  name: email-simplelogin
          volumeMounts:
            - name: data
              mountPath: /secret
      nodeSelector:
        kubernetes.io/os: linux
        kubernetes.io/arch: amd64
      volumes:
        - name: data
          secret:
            secretName: email-simplelogin
